tr[class="read"] {
    background: linear-gradient(#00FF00, #FFF 30%, #FFF 70%, #00FF00);
  }
  
  tr[class="in-progress"] {
    background: linear-gradient(#FFFF00, #FFF 30%, #FFF 70%, #FFFF00);
  }
  
  tr[class="to-read"] {
    background: linear-gradient(#FF0000, #FFF 30%, #FFF 70%, #FF0000);
  }
  
  span {
    display: inline-block;
  }
  
  tr[class="to-read"] span[class="status"] {
      border: 2px solid black;
    background: linear-gradient(red);
  }
  
  tr[class="in-progress"] span[class="status"] {
      border: 2px solid black;
    background: linear-gradient(yellow);
  }
  
  tr[class="read"] span[class="status"] {
      border: 2px solid black;
    background: linear-gradient(#00FF00);
  }
  
  span[class="status"] {
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
    margin: 6px;
  }
  
  span[class~="one"] > :first-child {
    background: linear-gradient(red);
  }
  
  span[class~="two"] > :first-child,  span[class~="two"] > :nth-child(2) {
    background: linear-gradient(yellow);
  }
  
  span[class~="three"] > span {
    background: linear-gradient(#00DF00);
  }
  
  span[class="status"], span[class^="rate"] {
    height: 20px;
    width: 90px;
    text-align: center;
    padding: 5px;
  }
  
  span[class^="rate"] > span {
    border: 2px solid black;
    width: 20px;
    height: 16px;
    border-radius: 15px;
    background-color: #333;
    margin: 1px;
  }